In [1]:
#pip install yfinance --upgrade --no-cache-dir

In [2]:
import yfinance as yf
import pandas as pd
import numpy as np

https://www.theocc.com/market-data/market-data-reports/volume-and-open-interest/stock-loan-volume

Stock Loan Balance by Security - Most Recent Date

https://www.theocc.com/market-data/market-data-reports/series-and-trading-data/

In [3]:
shortInterestDf = pd.read_csv(
    "stock-loan-bal-sec-data.csv",
    header=0,
    encoding='utf-8'
)

directory_dataframe = pd.read_fwf("dlpDownload.txt",
header=None
)

directory_dataframe.head()

       0     1                                                  2
0  1AAPL  AAPL          Apple Inc (AMER/FLEX)\tACPX\t25000000\tEF
1  1ABBV  ABBV        AbbVie Inc. (AMER/FLEX)\tACPX\t25000000\tEF
2  1ABNB  ABNB        AIRBNB INC. (AMER/FLEX)\tACPX\t25000000\tEF
3  1ACWI  ACWI  iShares MSCI ACWI ETF (AMER/FLEX)\tACPX\t25000...
4  1ADBE  ADBE         Adobe Inc. (AMER/FLEX)\tACPX\t25000000\tEF

In [4]:
shortInterestDf['Symbol'].str.strip()
tickers = []
tickers = shortInterestDf['Symbol'].str.strip()
#shortInterestDf = shortInterestDf.set_index('Symbol')
shortInterestDf.head()
ticker_list = list(tickers)

In [8]:
yDf = pd.DataFrame(columns = [
'ticker',
'previousClose',
'volume',
'marketCap',
'floatShares',
'sharesOutstanding',
'sharesShort',
'sharesShortPriorMonth',
'sharesPercentSharesOut',
'shortPercentOfFloat'
])

aTickers = yf.Tickers(ticker_list)

for t in tickers:
    
    yDict = aTickers.tickers[t].info

    symbol=yDict['symbol']
    try:

        symbol=yDict['symbol']
        previousClose=yDict['previousClose']
        volume=yDict['volume']
        
        try:
            marketCap=yDict['marketCap']
            floatShares=yDict['floatShares']
            sharesOutstanding=yDict['sharesOutstanding']
            sharesShort=yDict['sharesShort']
            sharesShortPriorMonth=yDict['sharesShortPriorMonth']
            sharesPercentSharesOut=yDict['sharesPercentSharesOut']
            shortPercentOfFloat=yDict['shortPercentOfFloat']
            
            
            testlist = [
                symbol,
                previousClose,
                volume,
                marketCap,
                floatShares,
                sharesOutstanding,
                sharesShort,
                sharesShortPriorMonth,
                sharesPercentSharesOut,
                shortPercentOfFloat
            ]
        except:
            testlist = [
                symbol,
                previousClose,
                volume,
                "NA",
                "NA",
                "NA",
                "NA",
                "NA",
                "NA",
                "NA"
            ]
    except:
        testlist = [
            symbol,
            "NA",
            "NA",
            "NA",
            "NA",
            "NA",
            "NA",
            "NA",
            "NA",
            "NA"
        ]

    yDf.loc[len(yDf)] = testlist

404 Client Error: Not Found for url: https://query2.finance.yahoo.com/v10/finance/quoteSummary/LENB?modules=financialData%2CquoteType%2CdefaultKeyStatistics%2CassetProfile%2CsummaryDetail&corsDomain=finance.yahoo.com&formatted=false&symbol=LENB&crumb=WbKjtfux2Fq

KeyError: 'symbol'

In [9]:
t

'LENB'

In [10]:
yDf

,ticker,previousClose,volume,marketCap,floatShares,sharesOutstanding,sharesShort,sharesShortPriorMonth,sharesPercentSharesOut,shortPercentOfFloat
0,SPY,529.78,9224205,NA,NA,NA,NA,NA,NA,NA
1,QQQ,452.9,9116933,NA,NA,NA,NA,NA,NA,NA
2,AAPL,189.72,16291219,2918232621056,15306787334,15334099968,94308265,108782648,0.0062,0.0062
3,V,280.98,1368852,574299308032,1570738246,1574150016,28915877,30871209,0.0144,0.0184
4,IWM,209.44,6964536,NA,NA,NA,NA,NA,NA,NA
...,...,...,...,...,...,...,...,...,...,...
3581,PKB,74.65,3694,NA,NA,NA,NA,NA,NA,NA
3582,DFNM,47.96,14744,NA,NA,NA,NA,NA,NA,NA
3583,EPC,40.43,52868,2002984704,46445242,49554300,2219047,2164251,0.0448,0.0642
3584,SBIT,39.68,73285,NA,NA,NA,NA,NA,NA,NA
3585,ESQ,49.1,3665,405932576,6097626,8292800,201732,246003,0.0243,0.0288

In [11]:
stock_Df = pd.concat(
    [yDf, shortInterestDf],
    axis=1,
    join='inner'
)
stock_Df

,ticker,previousClose,volume,marketCap,floatShares,sharesOutstanding,sharesShort,sharesShortPriorMonth,sharesPercentSharesOut,shortPercentOfFloat,Symbol,Market Loan-Loan Balance,Hedge-Loan Balance
0,SPY,529.78,9224205,NA,NA,NA,NA,NA,NA,NA,SPY,766183200,11832523218
1,QQQ,452.9,9116933,NA,NA,NA,NA,NA,NA,NA,QQQ,534807000,5341783740
2,AAPL,189.72,16291219,2918232621056,15306787334,15334099968,94308265,108782648,0.0062,0.0062,AAPL,0,4109456775
3,V,280.98,1368852,574299308032,1570738246,1574150016,28915877,30871209,0.0144,0.0184,V,352018000,3764063750
4,IWM,209.44,6964536,NA,NA,NA,NA,NA,NA,NA,IWM,207244200,3724772534
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3581,PKB,74.65,3694,NA,NA,NA,NA,NA,NA,NA,PKB,0,621900
3582,DFNM,47.96,14744,NA,NA,NA,NA,NA,NA,NA,DFNM,0,621800
3583,EPC,40.43,52868,2002984704,46445242,49554300,2219047,2164251,0.0448,0.0642,EPC,0,621600
3584,SBIT,39.68,73285,NA,NA,NA,NA,NA,NA,NA,SBIT,0,620700
3585,ESQ,49.1,3665,405932576,6097626,8292800,201732,246003,0.0243,0.0288,ESQ,0,620000